@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;

  --color-purple-50: #F7F5FB;
  --color-purple-100: #EDE9F5;
  --color-purple-200: #DDD6EB;
  --color-purple-300: #CAC0DE;
  --color-purple-400: #B6A5CC;
  --color-purple-500: #9F8AB8;
  --color-purple-600: #8770A3;
  --color-purple-700: #6E5A86;
  --color-purple-800: #574870;
  --color-purple-900: #3F345A;
}
